In [1]:
import math
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
%matplotlib inline
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [2]:
df = pd.read_excel('NJ Offenses.xls', skipinitialspace=True, header=None)

In [3]:
df.drop(df.iloc[: ,0:4], inplace=True, axis=0)
df.columns = df.iloc[0]
df.drop(df.index[:1], inplace=True)
display(df.head())

4,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
5,Aberdeen Township,18150,19,0,NaN,0,13,6,237,42,185,10,0
6,Absecon,8380,21,0,NaN,2,4,15,266,91,169,6,0
7,Allendale,6712,0,0,NaN,0,0,0,37,6,29,2,0
8,Allenhurst,493,0,0,NaN,0,0,0,39,20,18,1,0
9,Allentown,1812,3,0,NaN,0,0,3,18,12,6,0,0

In [4]:
df.dtypes

4
City                                      object
Population                                object
Violent\ncrime                            object
Murder and\nnonnegligent\nmanslaughter    object
Rape\n(revised\ndefinition)1              object
Rape\n(legacy\ndefinition)2               object
Robbery                                   object
Aggravated\nassault                       object
Property\ncrime                           object
Burglary                                  object
Larceny-\ntheft                           object
Motor\nvehicle\ntheft                     object
Arson                                     object
dtype: object

In [5]:
cols = ["Population", "Murder and\nnonnegligent\nmanslaughter", "Robbery", "Property\ncrime"]

df['Population'] = df['Population'].str.replace(',', '')
df['Murder and\nnonnegligent\nmanslaughter'] = df['Murder and\nnonnegligent\nmanslaughter'].str.replace(',', '')
df['Robbery'] = df['Robbery'].str.replace(',', '')
df['Property\ncrime'] = df['Property\ncrime'].str.replace(',', '')

In [6]:
df.fillna(0)
df.head()

4,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
5,Aberdeen Township,NaN,19,NaN,NaN,0,NaN,6,NaN,42,185,10,0
6,Absecon,NaN,21,NaN,NaN,2,NaN,15,NaN,91,169,6,0
7,Allendale,NaN,0,NaN,NaN,0,NaN,0,NaN,6,29,2,0
8,Allenhurst,NaN,0,NaN,NaN,0,NaN,0,NaN,20,18,1,0
9,Allentown,NaN,3,NaN,NaN,0,NaN,3,NaN,12,6,0,0

In [7]:
df.dtypes

4
City                                       object
Population                                float64
Violent\ncrime                             object
Murder and\nnonnegligent\nmanslaughter    float64
Rape\n(revised\ndefinition)1               object
Rape\n(legacy\ndefinition)2                object
Robbery                                   float64
Aggravated\nassault                        object
Property\ncrime                           float64
Burglary                                   object
Larceny-\ntheft                            object
Motor\nvehicle\ntheft                      object
Arson                                      object
dtype: object

In [8]:
filter_df = df[cols]

df.dropna(inplace =True)

df = df.astype(int)

In [9]:
df["Murder and\nnonnegligent\nmanslaughter"]= df["Murder and\nnonnegligent\nmanslaughter"].map(lambda x: 1 if x>0 else 0)
df["Robbery"]= df["Robbery"].map(lambda x: 1 if x>0 else 0)

In [10]:
df.rename(columns = {'Murder and\nnonnegligent\nmanslaughter':'Murder and nonnegligent manslaughter', 'Property\ncrime':'Property crime' }, inplace= True)

In [11]:
df.head()

Empty DataFrame
Columns: [City, Population, Violent
crime, Murder and nonnegligent manslaughter, Rape
(revised
definition)1, Rape
(legacy
definition)2, Robbery, Aggravated
assault, Property crime, Burglary, Larceny-
theft, Motor
vehicle
theft, Arson]
Index: []

In [12]:
y = df["Population"]
x = df["Robbery"]

In [13]:
neighbors = KNeighborsClassifier(n_neighbors=20)

NameError: name 'KNeighborsClassifier' is not defined

In [ ]:
neighbors.fit(X,Y)